.button{
  text-decoration: none;
  padding: 10px;
  background: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  max-width: fit-content;
}

.button:hover{
  background: var(--hover-accent-color);
}