/* Radio buttons with class 'custom-radio' */
input.custom-radio[type=radio] {
    --s: 1.5em;     /* control the size */
    --c: var(--accent-color); /* the active color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
}

input.custom-radio[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
}

input.custom-radio[type=radio]:disabled {
    background: 
       linear-gradient(#939393 0 0) 
       50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
}

@media print {
    input.custom-radio[type=radio] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        background: none;
    }
}

.custom-label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    cursor: pointer;
}
