body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
}

.navbar {
  background-color: var(--accent-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color:  var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-right: 15px;
}

.navLinks a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 8px;
  width: 80%;
}

.button {
  padding: 10px;
  background: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.button-link {
  text-decoration: none;
  padding: 10px;
  background: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.progress-bar {
  position: relative;
  width: 500px;
  height: 1em;
  background-color: var(--background-color);
  border-radius: 1.5em;
  color: white;
  margin-top: 10px;
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: var(--accent-color);
  border-radius: 1em;
}

/* Theme Switch */

.theme-switcher {
  width: 50px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}

.theme-switcher .background {
  width: 50px;
  height: 20px;
  background-color: var(--input-back);
  border-radius: 30px;
}

.theme-switcher .switch{
  -webkit-margin-before : -14px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 30px;
  width: 30px;
  background-color: var(--input-color);
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


.theme-switcher .switch img {
  width: 60%;
  height: auto;
  position: absolute;
  transition: all 0.2s ease-in-out;
  border: none;
}

.theme-switcher .switch .sun {
  opacity: 0;
}

.theme-switcher .switch .moon {
  opacity: 1;
}

.theme-switcher input {
  display: none;
}

.theme-switcher input:checked + .switch {
  left: 20px;
}

.theme-switcher input:checked + .switch .sun {
  opacity: 1;
}

.theme-switcher input:checked + .switch .moon {
  opacity: 0;
}


.loader {
  margin: auto;
  border: 20px solid var(--secondary-color);
  border-radius: 50%;
  border-top: 20px solid var(--accent-color);
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-for-cards{
  display: grid;
  width: 90%;
  min-height: 80vh;
  grid-template-columns: repeat(4, 1fr);
}

.card-containers{
  background-color: #fff;
  width: 300px;
  height:300px;
  border-radius:0.625rem;
  overflow:hidden;
  margin : 10px;
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.card-containers:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding a subtle box shadow on hover */
}