.custom-table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 100%;
    overflow-y: auto;
}

.custom-table th,
.custom-table td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

.custom-table th {
    background-color: var(--background-color);
}

.custom-table tr:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .custom-table {
        overflow-x: auto;
        display: block;
        font-size: x-small;
    }

    .custom-table th,
    .custom-table td {
        white-space: nowrap;
    }
}

.tableFooter {
    background-color: #f1f1f1;
    padding: 8px 0px;
    width: 100%;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    color: #2c3e50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableButton {
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
}

.activeButton {
    color: white;
    background: #185adb;
}

.inactiveButton {
    color: #2c3e50;
    background: #f9f9f9;
}

/* sdfadfasdfadsfaf */

.table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-top: 2%;
}

.tableRowHeader {
    background-color: transparent;
    transition: all 0.25s ease;
    border-radius: 10px;
}

.tableHeader {
    background-color: var(--tertiary-background-color);
    padding: 12px;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    color: #2c3e50;
}

.tableHeader:first-child {
    border-top-left-radius: 15px;
}

.tableHeader:last-child {
    border-top-right-radius: 15px;
}

.tableRowItems {
    cursor: auto;
}

.tableRowItems:nth-child(odd) {
    background-color: var(--secondary-color);
}

.tableCell {
    padding: 12px;
    font-size: 14px;
    color: var(--text-color);
    vertical-align: middle;
}
