:root {
    --background-color: #2c3e50; /* Dark background color */
    --secondary-color: #34495e; /* Dark secondary color */
    --text-color: #ecf0f1; /* Light text color */
    --accent-color: #3498db;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #95a5a6; /* Light border color */

    --input-back: rgb(158, 158, 158);
    --input-color: #fbec48;
  }